env:
- DOCKER_COMPOSE_VERSION=1.11.2
language: ruby
rvm:
- 2.3.4
services:
- docker
before_install:
- sudo rm /usr/local/bin/docker-compose
- curl -L https://github.com/docker/compose/releases/download/${DOCKER_COMPOSE_VERSION}/docker-compose-`uname
  -s`-`uname -m` > docker-compose
- chmod +x docker-compose
- sudo mv docker-compose /usr/local/bin
- docker-compose up -d
- docker exec $(docker-compose ps -q gridium) bundle install;

script:
- docker exec $(docker-compose ps -q gridium) rake spec
deploy:
  provider: rubygems
  api_key:
    secure: GduydY4CJpZRetTg/hODbTrQKVnkC8ENMRoYYHbRBFdpSayNblvEK8svg9wbxbA1w+aY32RQLCP92vrmFudUUNsIyBzCdHcxPIMye7Xy0Rk9yjHd9PVSPF8T13PWz4hgKhziE6IGpJ5LoJNfS0J2YdGKTONkKSoFPk2+Nm2y73kREQAJFVT4hXrt0dYaXUcnInaC6jmH1USVhlR0gNNbXMvdz+I7YUDg3BuqZMhRqJ9qdt95nPidHm1k0FzN6UpWPVrhO6Py8RafH55YzyhIF7XnhdBBS+HC6Pk2V+l8/J8sagLSCWzGZssVvBHsC05C2bKAfsbO7tNfjeSKZnzp88qGiD3ubVvE+BEkv5R6tVusjy0Sbcl6yJYXaaqwAy30uXjUSO/+Zy2S3XVOoAEqQL8I7eTjgkrLbN8worxpOV/WUa8L9m9MxyhgKV7KcxexabX6MOylJbQyF34OgsKyaDRm/Yn07nDYL+h/b7iYw9TwwE7EuT45DyhWbvaXJx4yJlCoARXaP+rJ9xQTDwu3CxM/YNiWfty4qAAwvxp5FQPpcZL65DcRYWmrc8qXzM65oLWPELmB3+qe3rEiC1yewmAlRKHnV28CN5O6Drsl2CtCI79oHhlurNTtZUn3Tc5CMNTQg8Sa4F4Qc3cXUrbVnZSFnY+SP4K+QI0Kt1aWdhU=
notifications:
  hipchat:
    rooms:
      secure: rA7jAwps1JZDiAKVyS3tjVfj0xXO/PsBim/vMJoyFe98hL8riQHZ5taZCsM4JjgRAiAkNNXYFAR8GU9fHoY5/VIBBXHIJ7wKfD1dLppd6+p2+hW+fou6oRdMaRui+rf/zCSSZ0NEdCgQNG0Wz5LykROHqgBNvPDwIpAiLbrrDMwvfI+mmJHi/m0S722nLg9OJiJHPnV7edLy1YRlgoZ4/Waz02GrKC7KZBiK/Uzd45l7gl3nVUDkgqov/BOenvgEyxVfbAhdR95ABLv5k9UOqHSmWieqpAX9teM/F+6GXIpl1P4Ch+y2t94q5uuBd/gbyakk2MzeRgn+jp97hImKL7VaDrRkWNIcaAOnmScjJB5+im1AgpLCxAjOergzT/ojKe25TXvTw/e5TmRd/DmqSf8NbiBW4CtxEd8HcP4YECTk5YhY5z89qgZjujcpG/piKXN2/qPi7czLDptFaTskjsxsKTsc1uFLi8wduSW+j6BsacImf1QGmhc8hf0cVHmlDkVD73kyT7Ir+LtHpic1Al6A9uIdaoAozT8kIdiRMi09pJDWeyo2ixPwpBpQRW3GhwKg1kBZVIzHnIzSJNNPxJ2Bpbf/j2OdEOOSooZnqjcJkHq2UrRAlBxrZITRmzd4xSrQdqkZumOAv+GB0rGQ3V10qiGGDpTJT/6rCOdxXXk=
